.todo-section__description {
    font-size: 16px;
}

.todo-section {
    margin: 10px 0;
}

.todo-section__text {
    text-decoration: line-through;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
    transition: 2s text-decoration;
    font-size: 16px;
    color: #6c757d;
}

.todo-item__text {
    word-wrap: break-word;
}