:root {
  --subheading-color: #6c757d;
  --white: #ffffff;
}

h1 {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.todos-heading {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
}

.todos-subHeading {
  font-size: 1rem;
  color: var(--subheading-color)
}

.todos-addItem {
  z-index: 1;
  background: var(--white);
  position: sticky;
  top: 0;
}